.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
main.exe
output/
manifest/output/
temp/
tmp
manifest/deploy/docker/logs
manifest/deploy/docker/tik_server.env
logs